header{
    color: rgb(47, 7, 67);
    background-color: rgb(33, 118, 174);
    font-size: 22px;
    border-radius: 30px;
}

body{
    background-color: brown;
    font-family: Tahoma;
    font-size: 15px;
}

pre{
    color: black;
}